/* Global */
body, body * {
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif !important;
  font-weight: 300;
}

p {
  margin: 0.75rem 0;
}

.pv4 {
  padding-top: 0.5rem;
  padding-botton: 0.5rem;
}

/* Header background image */
.bg-top {
  background-position: center;
}

.custom-bg-dim {
  background: rgba(0,0,0,0.35);
}

/* Headings */

.lh-title {
  font-weight: 300;
}

h1, h2, h3, h4 {
  font-weight: bold;
  margin: 1.5rem 0 0.5rem 0 !important;
}

time.tracked {
  margin: 1rem 0;
}